
body {
  background-color: darkblue;
}

#net {
  background-color: yellow;
  width: 1px;
  height: 440px;
  position: absolute;
  left: 300px;
  top: 0px;
}

.score-board {
  text-align: center;
  padding: 25px;
  position: absolute;
  left: 650px;
  top: -40px;

}
.player {
  display: inline-block;
  padding: 15px;
  color: yellow;
}
.player h4 {
  font-weight: bold;
  color: yellow;
}
.score-box {
  border: 3px solid yellow;
  padding: 30px;
  color: yellow;
}



#board {
  width: 600px;
  height: 440px;
  border: 1px solid yellow;
  background-color: black;
  position: relative;
}




#rightPaddle {
  border-radius: 25px;
  background-color: red;
  width: 20px;
  height: 80px;
  position: absolute;
  top: 170px;
  left: 70px;
}


  #leftPaddle {
  border-radius: 25px;
  background-color: blue;
  width: 20px;
  height: 80px;
  position: absolute;
  top: 170px;
  left: 500px;
  }

 #ball {
  border-radius: 10px;
  background-color: white;
  width: 20px;
  height: 20px;
  position: absolute;
   left: 280px;
  top: 200px;

  }
 



/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */

